/*@*WelcomeImages*@*/
.style_welcome {
    background-image: url("../media/standarts_page/stand_welcome.jpg");
}

.img-fluid {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.welcome_text {
    padding-top: 200px;
    padding-bottom: 200px;
    color:black;
}
/*@*WelcomeImages*@*/

/*block_1*/
.block_white {
    background-color: white;
    position: relative;
    padding: 30px;
}
.block_Text_header {
    color: black;
    padding: 30px;
    font-size: 20pt;
    font-weight: bold;
}
.block_Text {
    color: black;
    padding: 20px;
    font-size: 14pt;
    font-weight: lighter;
}

/*block_1*/

/*block_2*/
.block_black {
    background-color: black;
    position: relative;
    padding: 30px;
}

.block_Text_header_black {
    color: white;
    padding: 30px;
    font-size: 20pt;
    font-weight: bold;
}
.block_Text_black {
    color: white;
    padding: 20px;
    font-size: 14pt;
    font-weight: lighter;
}
/*block_2*/